@import '../../assets/scss/variables';

.image-wrapper {
  position: relative;
  margin: 10px;
  cursor: pointer;
  text-align: justify;
  background-size: cover;
  background-position: center center;
  border-radius: 5px;
  box-shadow: 0 0 10px;

  svg {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
